.container{
    background-color: #191C1F;
    color: white;
    display: flex;
}
.black-friday img{
    width: 60px;
    padding: 10px;
}
.offer span {
    font-size: 30px;
    color: #EBC80C;
}
.shop-btn img{
    width: 20px;
}
.container-2{
    display: flex;
    flex-direction: column;
    background-color: #1B6392;
    color: white;
}
.social-media{
    display: flex;
}
.language-currency{
    display: flex;
}
.top, .bottom{
    display: flex;
}
.user-settings{
    display: flex;
}
.user-settings img{
    width: 30px;
}
.container-3{
    display: flex;
    color: #5F6C72;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 10px;
}
.deal-timer span{
    background-color: #F3DE6D;
}
.browse-products a{
    color:#2DA5F3;
    text-decoration: none;
}
.container-4{
    display: flex;
}