body {
    width: 100%;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family:'public sans';
}
.container{
    background-color: #191C1F;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.container div{
    margin-right: 10px;
}
.black-friday {
    display: flex;
    align-items: center;
}

.black{
    background-color: #EBC80C;
    color: black;
    font-size: 24px;
    text-align: center;
    transform: rotate(-10deg);
    padding: 5px; 
}

.offer {
    display: flex;
    align-items: center;
    padding: 10px; 
}
.offer span {
    font-size: 30px;
    color: #EBC80C;
}

.actions {
    display: flex;
    align-items: center;
}

.shop-btn img{
    width: 15px;
}
.shop-btn button {
    background-color: #EBC80C;
    cursor: pointer;
    border: none;
    font-size: 10px;
    font-weight: 700;
    border-radius: 2px;
    display: flex; 
    align-items: center;
    padding: 10px;
}

.close-btn button{
    background-color: #303639;
    color: white;
    cursor: pointer;
    border: none;
}
.container-1 , .container-2{
    background-color: #1B6392;
    color: white;
}

.top {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid #ffffff33;
}

.social-media {
    display: flex;
    align-items: center;
}
.follow {
    margin-right: 20px;
    font-size: 16px;
    color: white; 
}
.social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
    text-decoration: none; 
}
.social-media img {
    width: 100%; 
    height: auto; 
}
.language-currency {
    display: flex;
    margin-left: 20px;
}

.language-currency select {
    margin-left: 10px; 
    background-color: #1B6392;
    border: none;
    color: white;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto; 
}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
    width: 30px; 
    margin-right: 10px; 
}

.search {
    flex: 1;
    max-width: 500px; 
    position: relative; 
}

.search form {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0; 
}

.search input {
    flex: 1; 
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    width: 20px; 
    height: 20px; 
    position: absolute; 
    right: 10px;
    cursor: pointer; 
}

.user-settings {
    display: flex;
    align-items: center; 
}

.user-settings img {
    width: 30px;
    margin-left: 15px; 
}
.shopping-cart {
    position: relative;
    display: inline-block;
}

.products-in-cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: -5px;  
    right: -5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 10px; 
}

.container-3 {
    display: flex;
    justify-content: center; 
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 10px;
}
.container-3 a{
    color: #5F6C72;
    text-decoration: none;
}
.container-3 select {
    background-color: #F2F4F5; 
    border: none;
    padding: 15px;
    border-radius: 2px;
}
.container-3 div{
    margin: 10px;
}
.container-3 img{
    width: 20px;
    margin-right: 8px;
}
.user-settings img{
    margin-right: 5px;
}
.container-3 > div {
    display: flex;
    align-items: center;
}

.container-4 {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box; 
}

.content-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.left-content {
    display: flex;
    gap: 10px; 
}

.best-deals {
    font-size: 18px;
    font-weight: bold;
}

.deal-timer {
    font-size: 16px;
    background-color: #F3DE6D;
}

.browse-products {
    display: flex;
    align-items: center;
}

.browse-products a {
    text-decoration: none;
    color: #2DA5F3;
    display: flex;
    align-items: center;
}

.browse-products img {
    margin-left: 5px; 
}

.container-5 {
    display: flex;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px; 
    box-sizing: border-box;
}
.xbox {
    border: 1px solid #00000014; 
    padding: 10px;           
    width: 300px;            
    box-sizing: border-box;  
}

.discount-offer{
    background-color: #EFD33D;
    color: black;
    width: max-content;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
    align-self: flex-start;
}
.hot{
    background-color: #EE5858;
    color: white;
    width: max-content;
    padding: 5px;
    border-radius: 2px;
    align-self: flex-start;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.modal h5{
    color: #5F6C72;
}
.details .product-amount{
    border-bottom: 1px solid rgba(0, 0, 0, 0.166);
}
.modal-content {
    display: flex;
    background: white;
    padding: 20px;
    max-width: 800px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.modal-content .product-img {
    width: 40%;
    height: auto;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.263);
}
.modal h2, p{
    font-weight: lighter;
    font-size: 16px;
}
.modal-content .details {
    flex: 1;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    width: fit-content;
}

.close-modal:hover {
    background: #555;
}
.cart-functions{
    display: flex;
}
.cart-functions button{
    border: none;
}
.count {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 20px 10px 20px 0px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.297);
    width: 120px; 
}

.plus-button, .subtract-button {
    display: flex;
    align-items: center; 
}

.counting {
    flex-grow: 1;
    text-align: center;
    font-size: 18px; 
}

.subtract-button button, .plus-button button {
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    border: none; 
    padding: 5px; 
}

.add-cart{
    padding: 5px;
    margin: 20px 0px 20px 0px;
    background-color: #FA8232;
    display: flex;
    align-items: center;
}

.add-cart button{
    background-color: #FA8232;
    color: white;
    cursor: pointer;
}
.buy{
    padding: 5px;
    margin: 20px 0px 20px 10px;
    background-color: white;
    border: 1px solid #FA8232;
    display: flex;
    align-items: center;
}
.buy button{
    background-color: white;
    color: black;
    cursor: pointer;
}
.grid {
    position: relative;
    width: fit-content; 
    overflow: hidden;
}
.before-hover {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    display: flex;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.grid:hover .before-hover {
    opacity: 0.8;
}

.grid:hover .middle {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.305);
}

.middle div{
    margin: 5px;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
}
.middle div:first-child{
    background-color: #FA8232;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto auto; 
}
.grid {
    display: flex;
    flex-direction: column; 
    text-align: start; 
    border: 1px solid #00000010;
    padding: 10px; 
    box-sizing: border-box;
    justify-content: center; 
    align-items: center;
}

.grid img {
    max-width: 60%; 
    height: auto; 
}

.product-info {
    margin-top: 10px; 
    text-align: start; 
    width: 100%; 
}

.product-name {
    font-size: 16px;
}

.product-amount {
    font-size: 18px; 
    color: #2DA5F3;
    text-align: start;
    width: 100%; 
}

.product-amount span{
    color: #ADB7BC;
    text-decoration: line-through;
}

.rating {
    display: flex; 
    align-items: center; 
}
.rating-number{
    color: #77878F;
}
.add {
    display: flex;
    align-items: center;
}

.add > div, .add > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px; 
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

.wishlist, .view {
    background-color: #FFE7D6;
    width: 50px; 
}

.add-to-cart {
    background-color: #FA8232;
    color: white;
    border: none;
    width: auto; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart img {
    margin-right: 5px;
}
.sold-out{
    background-color: #929FA5;
    color: white;
    width: max-content;
    padding: 5px;
    border-radius: 2px;
    align-self: flex-start;
}
.categorys{
    font-size: 24px;
    text-align: center;
    margin: 20px;
}
.slideshow-products {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden; 
    position: relative;
}

.carousel {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.slide {
    flex: 0 0 auto;
    border: 1px solid #00000018; 
    padding: 5px;
    text-align: center;
    transition: transform 0.3s ease;
    transform: scale(.9); 
}

.slide img {
    max-width: 100%;
}

.slide span {
    display: block;
    margin-top: 5px;
    font-size: 18px;
}

.active-slide {
    transform: scale(1);
}

.slide-btn a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
  
.slide-btn a:hover {
    background-color: #ddd;
    color: black;
}
  
.slide-btn .previous, .slide-btn .next {
    background-color: #FA8232;
    color: white;
}
  
.slide-btn .round {
    border-radius: 50%;
}
  
.grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: start;
    color: #333;
}

.grid-container2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-item {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap: 10px; 
}

.grid-item img {
    max-width: 100px; 
    height: auto;
    flex-shrink: 0; 
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.about {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #2DA5F3;
    margin-top: auto; 
}


.footer {
    background-color: #191C1F;
    color: #ccc;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.footer-logo, .footer-category, .footer-links, .footer-download, .footer-tag {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-links a, .footer-category a{
    text-decoration:none ;
    color: #929FA5;
}
.contact-info span{
    color: #929FA5;
}
.logo {
    max-width: 250px;
}

.logo img {
    vertical-align: middle;
    width: 40px; 
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #ff6600;
    margin-left: 10px;
}

.contact-info p {
    margin: 5px 0;
}

.footer-category ul, .footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-category li, .footer-links li {
    margin: 5px 0;
}

.footer-category a span{
    color: yellow;
}

.app-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
.googleplay, .appstore{
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.googleplay span, .appstore span{
    font-size: 20px;
}
.footer-download img {
    width: 20px; 
    margin-right: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags a {
    text-decoration: none;
    margin: 8px;
}

.tags span {
    background-color: #191C1F;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.173);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tags a:hover span {
    background-color: rgba(255, 255, 255, 0.632);
    color: #191C1F;
}


h3 {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}
.copywrite{
    text-align: center;
    color: #ADB7BC;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.125);
}
.app-link{
    background-color: #303639;
    width: max-content;
    padding: 10px;
}
.youtube-video{
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}